* {
    -fx-primary-color: #c0d6bc;
    -fx-secondary-color: #88B181;
    -fx-accent-color: #4e8046;
    -fx-darkest-green: #5c7a57;
    -fx-grey-color: #b9b9b9;
    -fx-light-grey-color: #e4e4e4;
    -fx-lightest-grey-color: #F9F9FB;

    -fx-focus-color: -fx-secondary-color;
}

.table-column {
    -fx-wrap-text: true;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.table-view .column-header {
    -fx-background-color: -fx-secondary-color;
}
.table-view .column-header .label{
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-text-fill: white;
    -fx-padding: 10 10 10 10;
}

.table-row-cell:filled {
    -fx-background-color: transparent;
    -fx-min-height: 50px;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:filled:hover {
    -fx-background-color: -fx-light-grey-color;
}

.table-view .cell:filled{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
}

.table-row-cell:selected .text {
    -fx-fill: -fx-accent-color;
}

.table-row-cell:selected {
    -fx-background-color: -fx-light-grey-color;
    -fx-table-cell-border-color: transparent;
}

.table-view:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent
}



